{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Document</title>
</head>
<body>
<main>
  <div class="page">

      <div class="header">
          <img src="{% static 'img/logo-light.png' %}" alt="" class="logo-img">
        <p>Sign up to see photos and videos from your friends.</p>
        <div>
          <hr>
          <p>OR</p>
          <hr>
        </div>
      </div>

      <div class="container">
        <form action="{% url 'register' %}?next={{ request.GET.next }}" method="post" enctype="multipart/form-data">
             {% csrf_token %}
        {% include 'partial/form.html' with button_text='Register' %}
        </form>
      </div>
  </div>
  <div class="option">
     <p>Have an account? <a href="{% url 'login' %}">Log in</a></p>
  </div>
</main>

</body>
</html>