{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-4">
                    <img src="{{ publication.image.url }}" class="card-img-top" alt="Publication Image">
                    <div class="card-body">
                        <p class="card-text">{{ publication.description }}</p>
                        <hr>
                        <form action="{% url 'api:publication-like' publication.id %}" method="post" class="like-form">
    {% csrf_token %}
<button type="button" class="icons-style like-unlike-button {% if is_liked %}text-danger{% endif %}" data-publication-id="{{ publication.id }}" data-is-liked="{{ is_liked }}">
    <i class="bi bi-heart-fill icon-width-down icon-hover"></i>
    </button>
</form>
                        <div class="likes-container" id="likes-container-{{ publication.id }}">
        {{ publication.likes }} отметок "Нравится"
    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">{{ publication.user.username }}</h4>
                        <hr>
                        {% for comment in comments %}
                        <div class="mb-2">
                            <img src="{{ comment.user.profile.avatar.url }}" class="me-3" alt="Profile" style="width: 28px; height: 28px; border-radius: 50%;">

                            <strong>{{ comment.user.username }}</strong>: {{ comment.text }}
                        </div>
                        {% endfor %}
                    </div>
                        <form action="{% url 'create-comments' publication.id  %}" method="post">
                            {% csrf_token %}
                            <label for="id_comments"></label>
                            <input type="hidden" name="publication" value="{{ publication.id }}">
                            <input type="hidden" name="user" value="{{ user.id }}">
                           <div class="d-flex">
                                <input type="text" class="form-control" id="id_comments" name="text" placeholder="Добавить комментарий">
                            <button type="submit" class="btn text-info border">Опубликовать</button>
                           </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
