{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-4">
                    <img src="{{ publication.image.url }}" class="card-img-top" alt="Publication Image">
                    <div class="card-body">
                        <p class="card-text">{{ publication.description }}</p>
                        <hr>
                        <form action="{% url 'like' publication.id %}" method="post">
                            {% csrf_token %}
                            {% if  user.is_authenticated and user in publication.user_likes.all %}
                                <button class="text-danger icons-style"><i class="bi bi-heart-fill icon-width-down icon-hover"></i></button>
                            {% else %}
                                <button class="text-dark icons-style "><i class="bi bi-heart icon-width-down icon-hover"></i></button>

                            {% endif %}

                        </form>
                        <b>{{ publication.likes }} отметок "Нравится" </b>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">{{ publication.user.username }}</h4>
                        <hr>
                        {% for comment in comments %}
                        <div class="mb-2">
                            <img src="{{ comment.user.profile.avatar.url }}" class="me-3" alt="Profile" style="width: 28px; height: 28px; border-radius: 50%;">

                            <strong>{{ comment.user.username }}</strong>: {{ comment.text }}
                        </div>
                        {% endfor %}
                    </div>
                        <form action="{% url 'create-comments' publication.id  %}" method="post">
                            {% csrf_token %}
                            <label for="id_comments"></label>
                            <input type="hidden" name="publication" value="{{ publication.id }}">
                            <input type="hidden" name="user" value="{{ user.id }}">
                           <div class="d-flex">
                                <input type="text" class="form-control" id="id_comments" name="text" placeholder="Добавить комментарий">
                            <button type="submit" class="btn text-info border">Опубликовать</button>
                           </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
